# Database - Single connection string
DATABASE_URL=postgresql://owner:password@ep-pooler.c-11.us-east-1.aws.neon.tech/neondb?channel_binding=require&connect_timeout=15&sslmode=require
# backend
PORT=
# cors
ALLOWED_ORIGINS=